@charset "UTF-8";

body {
    background-color: rgba(0, 255, 255, 0.267);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(35, 82, 170);
}

h1#principal {
    color: black;
    text-align: center;
    background-color: blueviolet;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
}
h2 {
    color: cornflowerblue;
}

.basico {
    color: rgb(196, 38, 169);
}
.intermediario {
    color: rgb(41, 211, 118);
}
.avancado {
    color: rgb(227, 255, 127);
}

.destaque {
    background-color: brown;
}
